name: Release

on:
  create:

jobs:
  release:
    if: ${{ startsWith(github.ref, 'refs/tags/v') }}
    runs-on: ubuntu-latest
    steps:
      -
        name: Set up QEMU
        uses: docker/setup-qemu-action@v1
      -
        name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v1
      -
        name: Login to DockerHub
        uses: docker/login-action@v1 
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}
      - uses: actions/checkout@v2
        with:
          fetch-depth: 0
      - 
        name: "Fetch latest tag"
        id: get-latest-tag
        uses: "WyriHaximus/github-action-get-previous-tag@v1"
      -
        name: Build and push Postgres 12
        id: pg12_docker_build
        uses: docker/build-push-action@v2
        with:
          build-args: |
            PG_VERSION=12.5
            VERSION=${{ steps.get-latest-tag.outputs.tag }}
          context: .
          file: ./Dockerfile
          push: true
          tags: |
            flyio/postgres:12
            flyio/postgres:12.5
      -
        name: Build and push Postgres 13
        id: pg_13_docker_build
        uses: docker/build-push-action@v2
        with:
          build-args: |
            PG_VERSION=13.4
            VERSION=${{ steps.get-latest-tag.outputs.tag }}
          context: .
          file: ./Dockerfile
          push: true
          tags: |
            flyio/postgres:13
            flyio/postgres:13.4
      -
        name: Image digest
        run: echo ${{ steps.pg_13_docker_build.outputs.digest }}
